<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} | {{ site.title }}</title>

    <link href="{{ site.url }}/main.css" rel="stylesheet" type="text/css">

    {% block stylesheets %}{% endblock %}
</head>
<body>
    <nav>
        <ul class="menu">
            {% for item in site.nav %}
                <li><a href="{{ site.url ~ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>

        <hr>
    </nav>

    {% if page.header is not defined or page.header %}
        <div class="article-meta">
            <h1><span class="title">{{ page.title }}</span></h1>

            {% if page.author %}<h2 class="author">{{ page.author }}</h2>{% endif %}
        </div>
    {% endif %}

    <main>{% block content %}{% endblock %}</main>

    <footer>
        <hr>

        &copy; <a href="{{ site.link.website }}">{{ site.full_name }}</a> 2018 | <a href="{{ site.link.github }}">Github</a> | <a href="{{ site.link.twitter }}">Twitter</a>
    </footer>
</body>
</html>
