body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
  line-height: 1.5em; }

.title {
  font-size: 1.1em; }

.menu {
  padding: 0;
  text-align: center; }
  .menu li {
    display: inline-block; }
  .menu a {
    border-radius: 5px;
    padding: 5px;
    background: #eee;
    text-decoration: none; }

.article-meta {
  border-radius: 5px;
  padding: 5px;
  background: #eee;
  text-align: center; }

footer {
  text-align: center; }
  footer a {
    text-decoration: none; }

main {
  hyphens: auto; }

img, iframe, video {
  max-width: 100%; }

hr {
  border-style: dashed;
  color: #ddd; }

code {
  background: #f9f9f9;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%; }

pre {
  overflow-x: auto;
  box-shadow: 5px 5px 5px #eee;
  border: 1px solid #ddd;
  padding: 1em; }
  pre code {
    background: none; }

blockquote {
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
  background: #f9f9f9; }

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666; }
  table thead {
    background: #eee; }
    table thead th {
      border-bottom: 1px solid #ddd; }

th, td {
  padding: 5px; }

tfoot, tr:nth-child(even) {
  background: #eee; }
